* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.fondo-logo {
  margin: auto;
}

.logo-brand {
  min-width: 80px;
  max-width: 250px;
}

@media (max-width: 768px) {
  .iconos {
    display: none;
  }
  .logo-brand {
    display: none;
  }
  .logotipo {
    display: block;
  }
}

@media (min-width: 768px) {
  .logotipo {
    display: none;
  }
}

.iconos {
  min-width: 30px;
  max-width: 30px;
}

.container-fluid {
  padding: 20px 0px 20px 60px;
  background-color: #232323;
}

@media (max-width: 768px) {
  .container-fluid {
    display: none;
    background-color: blueviolet;
  }
}

header {
  width: 100%;
  background: crimson;
  position: fixed;
  -webkit-box-shadow: 2px 3px 6px;
          box-shadow: 2px 3px 6px;
  z-index: 1;
}

#btn-menu {
  display: none;
}

label #btn-menu {
  padding-bottom: 30px;
}

header label {
  display: none;
  height: auto;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 5px;
}

header label:hover {
  cursor: pointer;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu li:hover {
  background: #232323;
}

.menu li a {
  display: block;
  padding: 15px 20px;
  color: #ebd800;
  text-decoration: none;
}

@media (max-width: 768px) {
  header label {
    display: block;
  }
  .menu {
    position: absolute;
    background: crimson;
    width: 70%;
    margin-left: -70%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu li {
    border-top: 1px solid white;
    border-right: none;
  }
  #btn-menu:checked ~ .menu {
    margin: 0 auto;
  }
}

.contenedor-carta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.imagenes {
  width: 100vw;
  max-width: 900px;
}

/* footer */
footer {
  background: #232323;
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
}

.contenedor-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 0 auto;
  padding-bottom: 50px;
  padding-top: 50px;
  border-bottom: 1px solid #ccc;
}

footer {
  margin-top: 150px;
}

.fondo img {
  width: 100vh;
}

.content-foo {
  text-align: center;
}

.content-foo h4 {
  color: #fff;
  border-bottom: 3px solid rgba(249, 4, 4, 0.7);
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.content-foo p {
  color: #ccc;
}

.titulo-final {
  text-align: center;
  font-size: 16px;
  margin: 20px 0 0 0;
  color: #ffffff;
}

@media (max-width: 768px) {
  .contenedor-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contenedor-nosotros-main {
  padding-top: 3em;
}

.contenedor-nosotros-main h1 {
  margin: 0 auto;
  text-align: center;
  padding: 60px;
  color: crimson;
}

.contenedor-nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2em;
}

.contenedor-nosotros img {
  width: 80%;
  margin: auto;
  text-align: center;
  max-width: 600px;
  border: 1px solid white;
  border-radius: 1.5em;
  -webkit-box-shadow: 1px 2px 8px;
          box-shadow: 1px 2px 8px;
}

.contenedor-nosotros p {
  width: 80%;
  max-width: 600px;
  text-align: center;
  padding: 1em;
  line-height: 20px;
  color: black;
}

@media (min-width: 768px) {
  .contenedor-nosotros {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

.contenedor-nosotros p {
  padding: 3em;
}

.contenedor-galeria img {
  width: 100%;
  height: auto;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 1.5em;
  -webkit-box-shadow: 1px 2px 8px;
          box-shadow: 1px 2px 8px;
  margin-bottom: 1em;
}

.contenedor-galeria-main {
  padding-top: 3em;
}

@media (max-width: 768px) {
  .contenedor-galeria-main {
    padding-top: 0;
  }
  .contenedor-galeria-main h1 {
    margin: 0 auto;
    text-align: center;
    padding-top: 0px;
    color: crimson;
  }
  .contenedor-galeria {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
  }
  .contenedor-galeria h1 {
    padding-top: 3.5em;
    padding-bottom: 1em;
    margin: 0 auto;
    color: crimson;
  }
  .contenedor-inicio {
    width: 100%;
    height: 1500px;
    margin: 0 auto;
    background-image: url(../img/portadaMercado.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
  }
}

@media (max-width: 768px) and (min-width: 768px) {
  .contenedor-inicio {
    padding-top: 14em;
  }
}

@media (max-width: 768px) {
  .contenedor-inicio h1 {
    color: crimson;
    font-size: 4em;
    text-align: center;
    padding: 0.5em;
    text-shadow: 2px 3px 5px black;
  }
  .contenedor-inicio h2 {
    color: white;
    text-align: center;
    text-shadow: 2px 3px 5px black;
  }
  .contenedor-carta-main {
    padding-top: 6em;
  }
}

@media (max-width: 768px) and (max-width: 768px) {
  .contenedor-inicio h1 {
    color: crimson;
    font-size: 2em;
    text-align: center;
    padding: 0.5em;
  }
  .contenedor-inicio h2 {
    color: white;
    font-size: 1.2em;
    text-align: center;
    padding: 0.5em;
  }
}

@media (max-width: 768px) {
  .contenedor-carta-main h1 {
    margin: 0 auto;
    text-align: center;
    padding-top: 60px;
    color: crimson;
  }
  .contenedor-formulario-main {
    padding-top: 3em;
  }
  .contenedor-formulario-main h1 {
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    color: crimson;
  }
  .contenedor-formulario {
    padding-bottom: 2em;
  }
  .contenedor-formulario form {
    padding: 2em;
  }
  .contenedor-formulario h2 {
    padding-bottom: 1em;
    color: crimson;
  }
  form input {
    padding-right: 20px;
    margin-top: 10px;
    margin-right: 10px;
    color: crimson;
  }
  .botones input {
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    margin-top: 10px;
    margin-right: 10px;
    color: crimson;
  }
}

@media (max-width: 768px) and (min-width: 768px) {
  .contenedor-formulario {
    width: 60%;
    margin: 0 auto;
    text-align: center;
  }
}

@media (max-width: 768px) {
  form {
    text-align: left;
    margin-left: 6em;
  }
  .contenedor-formulario-main {
    padding-top: 10em;
  }
  .contenedor-nosotros-main {
    padding-top: 10em;
  }
}

@media (max-width: 768px) and (max-width: 768px) {
  .contenedor-nosotros-main {
    padding-top: 70px;
  }
}

@media (max-width: 768px) {
  .contenedor-galeria-main {
    padding-top: 10em;
  }
  .contenedor-galeria {
    width: 80%;
    max-width: 800px;
  }
  .contenedor-carta-main {
    padding-top: 10em;
  }
  .logomercado {
    display: block;
  }
  .contenedor-carta-main {
    padding-top: 3em;
  }
  .nuestra-especialidad {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .contenido-textos {
    width: 48%;
  }
  .contenido-textos h3 {
    margin-bottom: 15px;
    color: #f50303;
  }
  .contenido-textos p {
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
  }
  .galeria {
    background: #f50303;
    padding-bottom: 240px;
    position: relative;
  }
  .titulo_galeria {
    color: #f50303;
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
    padding: 25px;
  }
  .galeria-img {
    margin: 0 auto;
    width: 70%;
    height: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .imagen-port {
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  }
  .imagen-port > img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
  }
  .hover-galeria {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
    background: rgba(249, 4, 4, 0.7);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hover-galeria img {
    width: 50px;
  }
  .hover-galeria p {
    color: #fff;
  }
  .imagen-port:hover .hover-galeria {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .contenedor_fotos_galeria {
    padding-top: 180px;
    padding-bottom: 0;
  }
  h2 {
    text-align: left;
    color: #f50303;
    padding: 50px 0px 40px 0px;
  }
  .titulos-cabecera {
    text-align: center;
    padding-bottom: 20px;
  }
  p {
    text-align: justifycenter;
  }
  .logotipo {
    background-color: #232323;
    margin: 0 auto;
    width: 300px;
  }
  .tarjeta4 {
    padding-top: 50px;
    padding-bottom: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .calamares {
    max-width: 300px;
  }
}

@media (max-width: 768px) and (min-width: 400px) {
  .calamares {
    width: 900px;
  }
}

@media (max-width: 768px) and (max-width: 768px) {
  .mapa {
    display: none;
  }
}

@media (max-width: 768px) {
  .carousel-h2 {
    text-align: center;
  }
  .corousel {
    padding-top: 300px;
  }
  .carta {
    padding-top: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #f50303;
    text-align: center;
  }
}

@media (max-width: 768px) and (max-width: 768px) {
  .carta {
    padding-top: 120px;
  }
}

@media (max-width: 768px) and (max-width: 768px) {
  .carta-fotos {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) and (max-width: 768px) {
  .contenedor-inicio {
    padding-top: 15em;
    background-image: url(../img/portadaMercadoMovil.png);
    width: 100%;
    height: 900px;
  }
}

@media (max-width: 768px) and (max-width: 768px) {
  .logotipomercado {
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
  }
}

@media (max-width: 768px) and (min-width: 768px) {
  .contenedor-galeria {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 768px) {
  .contenedor-galeria img {
    width: 30%;
  }
  .titulos-cabecera {
    padding-bottom: 60px;
  }
}

@media (min-width: 768px) {
  .containerlogomovil img {
    display: none;
  }
}

@media (max-width: 768px) {
  .containerlogomovil {
    display: block;
    background-color: #232323;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
/*# sourceMappingURL=estilos.css.map */