@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  color: black;
}

p {
  font-family: 'Open sans';
  font-size: 1rem;
}

h1 {
  font-family: 'Open sans';
  font-size: 2.5rem;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: white;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

h1, h2, h3, h4 {
  font-family: Arial, Helvetica, sans-serif;
}

/* CABECERA */
.fondo-logo {
  margin: auto;
}

.logo-brand {
  min-width: 80px;
  max-width: 250px;
}

.logotipo {
  display: block;
}

/* operacion sass */
@media (min-width: 768px) {
  .logotipo {
    display: none;
  }
}

.iconos {
  min-width: 30px;
  max-width: 30px;
}

.container-fluid {
  width: 100%;
  padding: 20px 0px 20px 60px;
  background-color: #232323;
}

/* operacion sass */
@media (max-width: 768px) {
  .container-fluid {
    display: none;
  }
  header {
    height: auto;
  }
}

header {
  width: 100%;
  height: 160PX;
  background: crimson;
  position: fixed;
  -webkit-box-shadow: 2px 3px 6px;
          box-shadow: 2px 3px 6px;
  z-index: 4;
}

/* operacion sass */
@media (max-width: 768px) {
  header {
    width: 100%;
    height: auto;
  }
}

#btn-menu {
  display: none;
}

label #btn-menu {
  padding-bottom: 30px;
}

header label {
  display: none;
  height: auto;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 5px;
}

header label:hover {
  cursor: pointer;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu li:hover {
  background: #232323;
}

.menu li a {
  display: block;
  padding: 15px 20px;
  color: #ebd800;
  text-decoration: none;
}

.btn-menu {
  background-color: crimson;
}

@media (max-width: 768px) {
  header label {
    display: block;
  }
  .menu {
    position: absolute;
    background: crimson;
    width: 70%;
    margin-left: -70%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu li {
    border-top: 1px solid white;
    border-right: none;
  }
  #btn-menu:checked ~ .menu {
    margin: 0 auto;
  }
}

/* FIN CABECERA */
/* FOOTER */
footer {
  width: 100%;
  background: #232323;
  padding: 60px 0 30px 0;
  margin: auto;
}

.contenedor-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 0 auto;
  padding-bottom: 50px;
  padding-top: 50px;
  border-bottom: 2px solid #ccc;
}

footer {
  margin-top: 50px;
}

.redes-footer {
  width: 50%;
  margin: auto;
  border-bottom: 3px solid crimson;
  padding-bottom: 5px;
  margin-bottom: 10px;
  padding-top: 5px;
  margin-top: 10px;
}

.content-foo {
  text-align: center;
}

.content-foo h4 {
  color: #fff;
  border-bottom: 3px solid crimson;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.content-foo p {
  color: #ccc;
}

.titulo-final {
  text-align: center;
  font-size: 16px;
  margin: 20px 0 0 0;
  color: crimson;
  color: white;
}

.titulo-final a:hover {
  color: crimson;
  text-decoration: none;
}

.redessociales {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.redes {
  padding: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .contenedor-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer {
    width: 100%;
  }
  .redes {
    padding: 0;
    margin: 0;
  }
  .iconos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* FIN FOOTER */
/* NOSOTROS */
.contenedor-nosotros-main {
  padding-top: 14rem;
}

.contenedor-nosotros-main h1 {
  text-align: center;
}

.contenedor-nosotros {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contenedor-nosotros img {
  width: 100%;
  border-radius: 8px;
  border: 1px solid crimson;
  margin: 20px;
  -webkit-box-shadow: 1px 5px 9px #232323;
          box-shadow: 1px 5px 9px #232323;
}

.contenedor-nosotros p {
  padding: 40px;
}

.contenedor-nos-main h1 {
  text-align: center;
  font-weight: 300;
  color: black;
  padding-top: 60px;
  font-family: 'open sans';
}

.contenedor-nos {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 3em;
  padding-top: 3em;
  background-color: #232323;
}

.contenedor-nos img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  text-align: center;
  max-width: 600px;
  border: 1px solid #ebd800;
  border-radius: 10px;
  -webkit-box-shadow: 1px 5px 9px #232323;
          box-shadow: 1px 5px 9px #232323;
}

.contenedor-nos p {
  width: 100%;
  max-width: 600px;
  text-align: center;
  padding: 1em;
  line-height: 25px;
  color: #232323;
}

.linea {
  width: 80%;
}

@media (max-width: 768px) {
  .contenedor-nos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    padding-top: 15px;
    text-align: center;
    border-radius: 0;
  }
  .contenedor-nos .contenedor-nos p {
    text-align: left;
  }
  .contenedor-nos p {
    line-height: 2rem;
    width: 80%;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .contenedor-nosotros-main {
    padding-top: 8em;
    margin: auto;
  }
  .contenedor-nosotros img {
    margin: 0 auto;
    margin-top: 1em;
  }
  .contenedor-nosotros {
    border-radius: 0px;
  }
}

/* FIN NOSOTROS */
/* FORMULARIO */
.contenedor-formulario-main {
  padding-top: 12em;
}

.contenedor-formulario-main h1 {
  margin: 0 auto;
  text-align: center;
  text-align: center;
  margin: 20px 0 15px 0;
  font-weight: 300;
  color: #232323;
}

.pais {
  padding-top: 2.3em;
  padding-left: 4em;
}

.terminos {
  padding-top: 2em;
  padding-bottom: 2em;
}

.contenedor-formulario h2 {
  font-family: 'open sans';
  color: #232323;
  font-family: 'open sans';
}

.contenedor-carousel {
  width: 100%;
  margin: auto;
}

.fondo-carousel {
  width: 100%;
  background-color: white;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (max-width: 768px) {
  .contenedor-formulario-main {
    padding-top: 7em;
  }
}

/* FIN FORMULARIO */
/* HOME */
.principal {
  width: 100%;
  height: auto;
  padding-top: 10rem;
  text-align: center;
  color: #ebd800;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .principal {
    padding-top: 8rem;
    font-size: 1rem;
  }
}

.principal__subtitulo {
  font-family: 'open sans';
  text-align: center;
  color: #232323;
}

.principal__imagen {
  width: 100%;
  height: auto;
}

.principal__logo {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: -300px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #232323;
  -webkit-box-shadow: 1px 5px 9px #232323;
          box-shadow: 1px 5px 9px #232323;
  border-radius: 20px;
  border: 1px solid #ebd800;
  opacity: .6;
}

@media (max-width: 768px) {
  .principal__logo {
    width: 130px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: -550px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-box-shadow: 1px 5px 9px #232323;
            box-shadow: 1px 5px 9px #232323;
    border-radius: 8px;
    opacity: .8;
  }
}

.image:hover {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.image {
  overflow: hidden;
}

.principal marquee {
  background-color: crimson;
}

caption {
  background-color: crimson;
}

.contenedor-carousel {
  width: 100%;
  margin: auto;
}

.titulo-galeria {
  padding-top: 6rem;
}

.contenedor-nosotros-inicio p {
  color: white;
  text-align: left;
}

@media (max-width: 768px) {
  .titulo-galeria {
    padding-top: 3rem;
  }
  .contenedor-carousel {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
  }
}

.mapa-home {
  margin: auto;
  margin-bottom: 4rem;
  width: 80%;
  height: 100px;
}

.contenedor-carta-main {
  padding-top: 10em;
}

.logomercado {
  display: block;
}

.contenedor-carta-main {
  padding-top: 3em;
}

.nuestra-especialidad {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: white;
  text-align: center;
  margin: auto;
}

.contenido-textos {
  width: 48%;
}

.contenido-textos h3 {
  margin-bottom: 15px;
  color: crimson;
}

.contenido-textos p {
  padding: 0px 0px 30px 15px;
  font-weight: 300;
  text-align: justify;
}

.titulos-cabecera {
  text-align: center;
  padding-bottom: 20px;
}

p {
  text-align: justifycenter;
}

.logotipo {
  background-color: #232323;
  margin: 0 auto;
  width: 300px;
}

.tarjeta {
  padding-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.calamares {
  max-width: 300px;
}

@media (min-width: 400px) {
  .calamares {
    width: 900px;
  }
}

.carousel-h2 {
  text-align: center;
}

.corousel {
  padding-top: 300px;
}

/* Carta */
.carta {
  font-family: 'open sans';
  padding-top: 200px;
  text-align: center;
  font-weight: 300;
  color: #232323;
}

.carta-fotos {
  width: 60%;
  margin: auto;
}

@media (max-width: 768px) {
  .carta-fotos {
    width: 100%;
    margin-bottom: 1rem;
    padding-top: 3rem;
  }
  .carta {
    padding-top: 4em;
  }
  /* FIN CARTA */
  .contenedor-inicio {
    width: 100%;
    height: auto;
  }
  .textosfondo {
    position: relative;
  }
  .backgroundescritorio {
    width: 100%;
    height: 1500px;
    margin: 0 auto;
    background-image: url(../img/portadaMercadoMovil.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 14rem;
    z-index: -1;
  }
}

@media (max-width: 768px) {
  .logotipomercado {
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
  }
}

.titulos-cabecera {
  padding-bottom: 60px;
}

@media (min-width: 768px) {
  .containerlogomovil img {
    display: none;
  }
}

@media (max-width: 768px) {
  .containerlogomovil {
    display: block;
    background-color: #232323;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
}

.redessociales__subtitulo {
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
  color: white;
  display: block;
}

.mapa {
  margin: 3rem;
  border-radius: 8px;
}

/* Galeria */
.galeri h1 {
  text-align: center;
  margin: 20px 0 15px 0;
  font-weight: 300;
  color: #232323;
}

.linea {
  border-top: 5px solid crimson;
  margin: auto;
  margin-bottom: 40px;
  text-align: center;
}

.contenedor-imagene {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  margin: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 3px;
}

.contenedor-imagene .image {
  width: 32%;
  position: relative;
  height: auto;
  margin-bottom: 5px;
  -webkit-box-shadow: 1px 5px 9px #232323;
          box-shadow: 1px 5px 9px #232323;
  margin-top: 1rem;
  border-radius: 10px;
}

.image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* MIXINS */
.card-1, .card-4 {
  width: 200px;
  height: 500px;
  background-color: crimson;
  color: white;
  width: 55%;
  border-radius: 10px;
  -webkit-box-shadow: 1px 5px 9px #232323;
          box-shadow: 1px 5px 9px #232323;
}

.card-2 {
  width: 200px;
  height: 500px;
  background-color: crimson;
  color: white;
  width: 55%;
  border-radius: 10px;
  -webkit-box-shadow: 1px 5px 9px #232323;
          box-shadow: 1px 5px 9px #232323;
}

.card-3 {
  width: 200px;
  height: 500px;
  background-color: crimson;
  color: white;
  width: 55%;
  border-radius: 10px;
  -webkit-box-shadow: 1px 5px 9px #232323;
          box-shadow: 1px 5px 9px #232323;
}

/* EXTEND */
.overlay h2 {
  color: #fff;
  font-weight: 300;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.image:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  cursor: pointer;
}

.galeri {
  padding-top: 190px;
}

@media screen and (max-width: 1000px) {
  .contenedor-imagene {
    width: 95%;
  }
}

@media screen and (max-width: 700px) {
  .contenedor-imagene {
    width: 90%;
  }
  .galeri {
    padding-top: 8em;
  }
  .contenedor-imagene .image {
    width: 48%;
  }
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 22px;
  }
  .contenedor-imagene {
    width: 98%;
  }
  .contenedor-imagene .image {
    width: 80%;
  }
  /* fin galeria */
  .card-1, .card-4 {
    width: 90%;
  }
  .card-2 {
    width: 90%;
  }
  .card-3 {
    width: 90%;
  }
  .card-4 {
    width: 90%;
  }
}

.carta-1 {
  width: 90%;
  margin: 20px auto;
  border-radius: 10px;
  -webkit-box-shadow: 1px 5px 9px #232323;
          box-shadow: 1px 5px 9px #232323;
}

.carta-2 {
  width: 90%;
  margin: 20px auto;
  border-radius: 10px;
  -webkit-box-shadow: 1px 5px 9px #232323;
          box-shadow: 1px 5px 9px #232323;
}

.carta-3 {
  width: 90%;
  margin: 20px auto;
  border-radius: 10px;
  -webkit-box-shadow: 1px 5px 9px #232323;
          box-shadow: 1px 5px 9px #232323;
}

.carta-4 {
  width: 90%;
  margin: 20px auto;
  border-radius: 10px;
  -webkit-box-shadow: 1px 5px 9px #232323;
          box-shadow: 1px 5px 9px #232323;
}

.column-1 {
  text-align: center;
  margin: auto;
}

.column-2 {
  text-align: center;
  margin: auto;
}

.column-3 {
  text-align: center;
  margin: auto;
}

.column-4 {
  text-align: center;
  margin: auto;
}

.title {
  text-align: center;
  font-size: 40px;
  color: #6a6a6a;
  margin-top: 100px;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
}

.containero {
  width: 100%;
  background-color: #232323;
  height: 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  box-pack: center;
  flex-pack: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  position: relative;
  -webkit-box-shadow: 1px 5px 9px #232323;
          box-shadow: 1px 5px 9px #232323;
}

.containero .card {
  width: 330px;
  height: 430px;
  background-color: crimson;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  transition: all 0.25s;
}

@media screen and (max-width: 668px) {
  .containero {
    width: 100%;
    height: auto;
    padding: 0px;
    margin: auto;
    background-color: white;
    border-radius: 0px;
    position: relative;
    -webkit-box-shadow: 0px 0px 0px;
            box-shadow: 0px 0px 0px;
  }
}

.containero .card:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  transform: translateY(-15px);
  -webkit-box-shadow: 0 12px 16px #ebd800;
          box-shadow: 0 12px 16px #ebd800;
  box-shadow: 0 12px 16px #ebd800;
}

.containero .card img {
  width: 330px;
  height: 220px;
}

.containero .card h4 {
  padding-top: 20px;
  font-weight: 400;
  color: white;
}

.containero .card p {
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
  color: white;
}

.containero .card a {
  font-weight: 500;
  text-decoration: none;
  color: #ebd800;
}

.iconosredes:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  transform: translateY(-5px);
}

strong {
  color: crimson;
  font-weight: 900;
}

.containers {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.imagen_footer {
  width: 20%;
  text-align: center;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 2em;
}

@media (max-width: 668px) {
  .imagen_footer {
    width: 70%;
    padding-bottom: 2em;
  }
}

.mensaje {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

textarea {
  margin-top: 10px;
  width: 100%;
  height: 200px;
}

@media (max-width: 668px) {
  .mensaje {
    margin: 0;
    margin-top: 10px;
  }
}

.ciudad, .apellidos, .email, .nombre {
  padding-top: 20px;
}

.btn-primary {
  background-color: crimson;
}

.nuestrahistoria {
  padding-top: 1.5rem;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nuestrahistoria img {
  width: 400px;
  height: auto;
  border-radius: 10px;
  border-radius: 8px;
  border: 1px solid crimson;
  margin: 20px;
  -webkit-box-shadow: 1px 5px 9px black;
          box-shadow: 1px 5px 9px black;
}

.nuestrahistoria p {
  padding-top: 40px;
  padding-left: 200px;
  padding-right: 150px;
  vertical-align: center;
}

.historia h2 {
  margin-top: 9rem;
  text-align: center;
  font-size: 2.4rem;
}

@media (max-width: 668px) {
  .nuestrahistoria {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }
  .mapa {
    padding: 0;
    margin: 0;
    margin-bottom: 2em;
  }
  .nuestrahistoria img {
    width: 350px;
    margin: auto;
  }
  .nuestrahistoria p {
    padding: 2.5em;
    padding-top: .5em;
    margin: 0;
  }
  .historia h2 {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=estilos.css.map */