* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
}

.fondo-logo {
  
  margin: auto;
 
}


.logo-brand {
  min-width: 80px;
  max-width: 250px;
  
}
@media (max-width: 768px) {
  .iconos {
    display: none;
  }
  .logo-brand {
    display: none;
  }
  .logotipo {
    display: block;
  }
}
@media (min-width: 768px) {
  .logotipo {
    display: none;
  }
}
.iconos {
  min-width: 30px;
  max-width: 30px;
}

.container-fluid {
  padding: 20px 0px 20px 60px;
  background-color: #232323;
}

@media(max-width:768px){
.container-fluid{
  display: none;
  background-color: blueviolet;
}
}
header {
  width: 100%;
  background: crimson;
  position: fixed;
  box-shadow: 2px 3px 6px;
  z-index: 1;
}
#btn-menu {
  display: none;
}
label #btn-menu {
  padding-bottom: 30px;
}
header label {
  display: none;
  height: auto;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 5px;
}
header label:hover {
  cursor: pointer;
}
ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.menu li:hover {
  background: #232323;
}
.menu li a {
  display: block;
  padding: 15px 20px;
  color: #ebd800;
  text-decoration: none;
}

@media (max-width: 768px) {
  header label {
    display: block;
  }

  .menu {
    position: absolute;
    background: crimson;
    width: 70%;
    margin-left: -70%;
    transition: all 0.5s;
  }
  .menu ul {
    flex-direction: column;
  }
  .menu li {
    border-top: 1px solid white;
    border-right: none;
  }
  #btn-menu:checked ~ .menu {
    margin: 0 auto;
  }
}

.contenedor-carta {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagenes {
  width: 100vw;
  max-width: 900px;
}
/* footer */
footer {
  background: #232323;
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
}

.contenedor-footer {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin-top: 0 auto;

  padding-bottom: 50px;
  padding-top: 50px;
  border-bottom: 1px solid #ccc;
}

footer {
  margin-top: 150px;
}

.fondo img {
  width: 100%;
}
.content-foo {
  text-align: center;
}

.content-foo h4 {
  color: #fff;
  border-bottom: 3px solid rgba(249, 4, 4, 0.7);
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.content-foo p {
  color: #ccc;
}

.titulo-final {
  text-align: center;
  font-size: 16px;
  margin: 20px 0 0 0;
  color: #ffffff;
}
@media (max-width: 768px) {
  .contenedor-footer {
    display: flex;
    flex-direction: column;
    
  }
  
  .redessociales img{
    width: 100%;
    height: 50px;
    color: white;
    background-color: yellow;
  }
}
@media(max-width:768px){
  .redessociales h2{
    color: yellow;
    width: 100%;
    height: 60px;
    height: auto;
      background-color: yellow;
    }
}
.contenedor-nosotros-main {
  padding-top: 3em;
}
.contenedor-nosotros-main h1 {
  margin: 0 auto;
  text-align: center;
  padding: 60px;
  color: crimson;
}
.contenedor-nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2em;
}
.contenedor-nosotros img {
  width: 80%;
  margin: auto;
  text-align: center;
  max-width: 600px;
  border: 1px solid white;
  border-radius: 1.5em;
  box-shadow: 1px 2px 8px;
}

.contenedor-nosotros p {
  width: 80%;
  max-width: 600px;
  text-align: center;
  padding: 1em;
  line-height: 20px;
  color: black;
}

@media (min-width: 768px) {
  .contenedor-nosotros {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    
    }
  }
  .contenedor-nosotros p {
    padding: 3em;
  }
  

.contenedor-galeria img {
  width: 50%;
  height: auto;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1.5em;
  box-shadow: 1px 2px 8px;
  margin-bottom: 1em;
}
.contenedor-galeria-main {
  display: flex;
  padding-top: 15em;
  margin-left: auto;
  margin-right: auto;
}

@media(min-width:768px){
  .contenedor-galeria-main{
   
}
.contenedor-galeria-main h1 {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  text-align: center;
  padding-top: 0px;
  color: crimson;
}
.contenedor-galeria {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  
}
.contenedor-galeria h1 {
  padding-top: 3.5em;
  padding-bottom: 1em;
  margin: 0 auto;
  color: crimson;
}


@media (min-width: 768px) {
  .contenedor-inicio {
    padding-top: 14em;
  }
} 

.contenedor-inicio h1 {
  color: crimson;
  font-size: 4em;
  text-align: center;
  padding: 0.5em;
  text-shadow: 2px 3px 5px black;
}
.contenedor-inicio h2 {
  color: white;
  text-align: center;
  text-shadow: 2px 3px 5px black;
}
.contenedor-carta-main {
  padding-top: 6em;
}
@media (max-width: 768px) {
  .contenedor-inicio h1 {
    color: crimson;
    font-size: 2em;
    text-align: center;
    padding: 0.5em;
  }
  .contenedor-inicio h2 {
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    text-align: center;
    padding: 0.5em;
  }
}
.contenedor-carta-main h1 {
  margin: 0 auto;
  text-align: center;
  padding-top: 60px;
  color: crimson;
}
.contenedor-formulario-main {
  padding-top: 3em;
}
.contenedor-formulario-main h1 {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  color: crimson;
}
.contenedor-formulario {
  padding-bottom: 2em;
}
.contenedor-formulario form {
  padding: 2em;
}
.contenedor-formulario h2 {
  padding-bottom: 1em;
  color: crimson;
}
form input {
  padding-right: 20px;
  margin-top: 10px;
  margin-right: 10px;
  color: crimson;
}
.botones input {
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  margin-top: 10px;
  margin-right: 10px;
  color: crimson;
}
@media (min-width: 768px) {
  .contenedor-formulario {
    width: 60%;
    margin: 0 auto;
    text-align: center;
  }
}
  form {
    text-align: left;
    margin-left: 6em;
  }

  .contenedor-formulario-main {
    padding-top: 10em;
  }
  .contenedor-nosotros-main {
    padding-top: 10em;
  }
  @media(max-width:768px){
    .contenedor-nosotros-main{
      padding-top: 70px;
    
    
    } 
  }
  .contenedor-galeria-main {
    padding-top: 10em;
  }
  .contenedor-galeria {
    width: 80%;
    max-width: 800px;
  }
  
  .contenedor-carta-main {
    padding-top: 10em;
  }


  .logomercado {
    display: block;
  
}

.contenedor-carta-main {
  padding-top: 3em;
}
.nuestra-especialidad {
  padding-top: 80px;
  padding-bottom: 80px;
}

.contenido-textos {
  width: 48%;
}

.contenido-textos h3 {
  margin-bottom: 15px;
  color: rgb(245, 3, 3);
}

.contenido-textos p {
  padding: 0px 0px 30px 15px;
  font-weight: 300;
  text-align: justify;
}
.galeria {
  background: rgb(245, 3, 3);
  padding-bottom: 240px;
  position: relative;
}

.titulo_galeria {
  color: rgb(245, 3, 3);
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;
  padding: 25px;
}
.galeria-img {
  margin: 0 auto;
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.imagen-port {
  width: 24%;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.imagen-port > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hover-galeria {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform: scale(0);
  background: rgba(249, 4, 4, 0.7);
  transition: transform 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hover-galeria img {
  width: 50px;
}

.hover-galeria p {
  color: #fff;
}

.imagen-port:hover .hover-galeria {
  transform: scale(1);
}
.contenedor_fotos_galeria {
  padding-top: 180px;
  padding-bottom: 0;
}

h2 {
  text-align: left;
  color: rgb(245, 3, 3);
  padding: 50px 0px 40px 0px;
}
.titulos-cabecera {
  text-align: center;
  padding-bottom: 20px;
}
p {
  text-align: justifycenter;
}

.logotipo {
  background-color: #232323;
  margin: 0 auto;
  width: 300px;
}
.tarjeta4{
  padding-top: 50px;
  padding-bottom: 150px; 
  display: flex;
  justify-content: center;
}
.calamares {
  max-width: 300px;
}
@media (min-width: 400px) {
  .calamares {
    width: 900px;
  }
}
@media (max-width: 768px) {
  .mapa {
    display: none;
  }
}

.carousel-h2 {
  text-align: center;
}
.corousel {
  padding-top: 300px;
}
.carta {
  padding-top: 200px;
  display: flex;
  color: rgb(245, 3, 3);
  text-align: center;
}

@media (max-width: 768px) {
  .carta {
    padding-top: 120px;
  }
  .carta-fotos {
    width: 100%;
    height: auto;
  }
  .contenedor-inicio {
    padding-top: 15em;
    background-image: url(../img/portadaMercadoMovil.png);
    width: 100%;
    height: 900px;
  }
}

@media(max-width:768px){ 
  .logotipomercado{
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
  }
  }

  .titulos-cabecera{
    padding-bottom: 60px;
  }  
}
@media(min-width:768px){
  .containerlogomovil img{
    display: none;
     
   }
}

@media(max-width:768px){
  .containerlogomovil{
    display:block; 
    background-color: #232323;
     padding-top: 20px;
     padding-bottom: 20px;
  }
}
.contenedor-inicio {
  width: 100%;
  height: 1500px;
  margin: 0 auto;
  background-image: url(../img/portadaMercado.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
padding-top: 14rem;
  z-index: -1;
}
.redessociales__subtitulo{
  
  font-size: 1.5rem;
  
  padding: 1rem;
  text-align: center;
  color: white;
  display: block;
}
.mapa h2{
  color: white;
}




/* Galeria */
.galeri{
  font-family: 'open sans';
}

.galeri h1{
  text-align: center;
  margin:20px 0 15px 0;
  font-weight: 300;
}

.linea{
  border-top: 5px solid rgb(245, 3, 3);
  margin-bottom: 40px;
}

.contenedor-imagene{
  display:flex;
  width: 85%;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius:3px;
}

.contenedor-imagene .image{
  width: 32%;
  position: relative;
  height:auto;
  margin-bottom:5px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75)
}
.image img{
  width: 100%;
  height:100%;
  object-fit: cover;
}

/* .overlay{
  position: absolute;
  bottom: 0;
  left: 0;
  background:rgba(255, 0, 106, 0.781) ;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: .5s ease;
} */

.overlay h2{
  color: #fff;
  font-weight: 300;
  font-size:30px;
  position: absolute;
  top: 50%;
  left:50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.image:hover .overlay{
  height:100%;
  cursor: pointer;
}
.galeri{
  padding-top: 190px;
}
@media screen and (max-width:1000px){
  .contenedor-imagene{
      width: 95%;
  }
}

@media screen and (max-width:700px){
  .contenedor-imagene{
      width: 90%;
  }
  .contenedor-imagene .image{
      width: 48%;
  }
}

@media screen and (max-width:450px){
  h1{
      font-size:22px;
  }
  .contenedor-imagene{
      width: 98%;
  }
  .contenedor-imagene .image{
      width: 80%;
  }
  .galeri{
    padding-top: 120px;
  }
}
