* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import "_colors.scss";
@import "_tipo.scss";
$color-principal:#232323;
$color-rojo:crimson;
$ancho:1536px; 


body {
  margin: 0;
  font-family: sans-serif;
  background-color: white;
  
}

/* CABECERA */
.fondo-logo {
  margin: auto;
}


.logo-brand {
  min-width: 80px;
  max-width: 250px; 
}


.logotipo {
  display: block;
}
/* operacion sass */
@media (min-width: $ancho / 2 ) {
  .logotipo {
    display: none;
  }
}


.iconos {
  min-width: 30px;
  max-width: 30px;
}

.container-fluid {
  width: 100%;
  padding: 20px 0px 20px 60px;
  background-color: $color-principal;
}
/* operacion sass */
@media (max-width: $ancho / 2 ){
.container-fluid{
  display: none; }
header{
  height: auto;
}
}


header {
  width: 100%;
  height: 160PX;
  background: $color-rojo;
  position: fixed;
  box-shadow: 2px 3px 6px;
  z-index: 4;
}
/* operacion sass */
@media(max-width:$ancho / 2 ){
  header{
    width: 100%;
    height: auto;
  }
}
#btn-menu {
  display: none;
}

label #btn-menu {
  padding-bottom: 30px;
}

header label {
  display: none;
  height: auto;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 5px;
}

header label:hover {
  cursor: pointer;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.menu li:hover {
  background:$color-principal;
}
.menu li a {
  display: block;
  padding: 15px 20px;
  color: #ebd800;
  text-decoration: none;
}
.btn-menu{
  background-color: $color-rojo;
}
@media (max-width: $ancho / 2 ) {
  header label {
    display: block;
}

.menu {
    position: absolute;
    background: $color-rojo;
    width: 70%;
    margin-left: -70%;
    transition: all 0.5s;
}
.menu ul {
    flex-direction: column;
    
}
.menu li {
    border-top: 1px solid white;
    border-right: none;
}
#btn-menu:checked ~ .menu {
    margin: 0 auto;
  }
}
/* FIN CABECERA */




/* FOOTER */

footer {
  width: 100%;
  background:$color-principal;
  padding: 60px 0 30px 0;
  margin: auto;
  
}

.contenedor-footer {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin-top: 0 auto;
  padding-bottom: 50px;
  padding-top: 50px;
  border-bottom: 2px solid #ccc;
}

footer {
  margin-top: 50px;
}

.redes-footer{
  width: 50%;
  margin: auto;
  border-bottom: 3px solid $color-rojo;
  padding-bottom: 5px;
  margin-bottom: 10px;
  padding-top: 5px;
  margin-top: 10px;
}

.content-foo {
  text-align: center;
}

.content-foo h4 {
  color: #fff;
  border-bottom: 3px solid $color-rojo;
  padding-bottom: 5px;
  
  margin-bottom: 10px;
}

.content-foo p {
  color: #ccc;
}

.titulo-final {
  text-align: center;
  font-size: 16px;
  margin: 20px 0 0 0;
  color: white;
}
.redessociales{
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.redes {
  padding: 20px;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .contenedor-footer {
    display: flex;
    flex-direction: column;
    
  }
  footer{
    width: 100%;
  }
  .redes{
    padding: 0;
    margin: 0;
  }
  .iconos {
    display: flex;
    flex-direction: column;
   
  }
}

 
/* FIN FOOTER */

/* NOSOTROS */
.contenedor-nosotros-main{
  padding-top: 14rem;
}
.contenedor-nosotros-main h1{
  text-align: center;
}
.contenedor-nosotros{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  background-color: $color-principal;
  border-radius: 8px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10rem;
  box-shadow: 1px 5px 9px black;
}
.contenedor-nosotros img{
  width: 100%;
  border-radius: 8px;
  border: 1px solid #ebd800;
  margin: 20px;
  box-shadow: 1px 5px 9px black;
}
.contenedor-nosotros p{
  color: white;
  padding: 40px;
}
.contenedor-nos-main h1 {
  text-align: center;
  font-weight: 300;
  color: black;
  padding-top: 60px;
  font-family: 'open sans';
}

.contenedor-nos {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 3em;
  padding-top: 3em;
  background-color: crimson;
  border-radius: 10px;
  box-shadow: 1px 5px 9px black;
  
}
.contenedor-nos img {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  
  text-align: center;
  max-width: 600px;
  border: 1px solid #ebd800;
  border-radius: 10px;
  box-shadow: 1px 5px 9px black;
  
}

.contenedor-nos p {
  width: 100%;
  max-width: 600px;
  
  text-align: center;
  padding: 1em;
  line-height: 25px;
  color: black;
}
.linea{
  width: 80%;
}
@media (max-width: 768px) {
  .contenedor-nos {
    display: flex;
    width: 100%;
    margin: auto;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding-top: 15px;
    text-align: center;
    border-radius: 0;
  .contenedor-nos p {
    text-align: left;
    
  }  
    
  }
  
  .contenedor-nos p {
    line-height: 2rem;
    width: 80%;
    text-align: center; 
  }
  }

  @media(max-width:768px){
    .contenedor-nosotros-main{
      padding-top: 10em;
      margin: auto;
      
    }
    .contenedor-nosotros img{
      margin: 0 auto;
      margin-top: 1em;
      }
      .contenedor-nosotros{
        border-radius: 0px;
      }
  }

  /* FIN NOSOTROS */



/* FORMULARIO */
.contenedor-formulario-main {
  padding-top: 12em;
}
.contenedor-formulario-main h1 {
  margin: 0 auto;
  text-align: center;
  text-align: center;
  margin:20px 0 15px 0;
  font-weight: 300;
  color: black;
}
.pais{
  padding-top: 2.3em;
  padding-left: 4em;
}
.terminos{
  padding-top: 2em;
  padding-bottom: 2em;
}
.contenedor-formulario h2 {
  font-family: 'open sans';
  color: black;
  font-family: 'open sans';
}

.contenedor-carousel{
    
    width: 100%;
    margin: auto;
  }
.fondo-carousel{
    width: 100%;
    background-color: white;
    padding-top: 60px;
    padding-bottom: 60px;
  }
 @media(max-width:768px){
  .contenedor-formulario-main {
    
      padding-top: 7em;
    }
    
 }
 /* FIN FORMULARIO */

 /* HOME */
 
 .principal{
   
   width: 100%;
   height: auto;
   padding-top: 10rem;
   text-align: center;  
   color: #ebd800;
   font-size: 1.2rem;
   
 }
 @media(max-width:768px){
   .principal{
     padding-top: 8rem;
     font-size: 1rem;
   }
   
 }
 .principal__subtitulo{
   font-family: 'open sans';
   text-align: center;
   color: black;
   
 }
 .principal__imagen{
   width: 100%;
   height: auto; 
 }
 
 .principal__logo{
   width: 400px;
   margin-left: auto;
   margin-right: auto;
   position: absolute;
   top: -300px;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
   background-color: $color-principal;
   box-shadow: 1px 5px 9px black;
   border-radius: 20px;
   border: 1px solid #ebd800;
   opacity: .6;
 }

 
 @media(max-width:768px){
  .principal__logo{
    width: 130px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: -550px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 1px 5px 9px black;
    border-radius: 8px;
    opacity: .8;
    
    
  }
  
}
 .image:hover  {
   -webkit-transform:scale(1);transform:scale(1);
   
  }

 .image{overflow:hidden;}

 .principal marquee{
  
  background-color:$color-rojo;
}
caption{
  background-color: $color-rojo;
}
 .contenedor-carousel{
        width: 100%;
        margin: auto;
        
  }
  .titulo-galeria{
    padding-top: 6rem;
  }
  
  .contenedor-nosotros-inicio p{
    color: white;
    text-align: left;
  }
  @media(max-width:768px){
    .titulo-galeria{
      padding-top: 3rem;
    }
  .contenedor-carousel{
    width: 100%;
    height: auto;
    margin:  0 auto;
   
    text-align: center;
  
  }
  }
  .mapa-home{
    margin: auto;
    margin-bottom: 4rem;
    width: 80%;
    height: 100px;
  }
  .contenedor-carta-main {
    padding-top: 10em;
  }


  .logomercado {
    display: block;
  
}

.contenedor-carta-main {
  padding-top: 3em;
}
.nuestra-especialidad {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: white;
  text-align: center;
  margin: auto;
}

.contenido-textos {
  width: 48%;
}

.contenido-textos h3 {
  margin-bottom: 15px;
  color: $color-rojo;
}

.contenido-textos p {
  padding: 0px 0px 30px 15px;
  font-weight: 300;
  text-align: justify;
}






h2 {
  text-align: left;
  color: $color-rojo;
  padding: 50px 0px 40px 0px;
}
.titulos-cabecera {
  text-align: center;
  padding-bottom: 20px;
}
p {
  text-align: justifycenter;
}

.logotipo {
  background-color: $color-principal;
  margin: 0 auto;
  width: 300px;
}
.tarjeta{
 padding-top: 3rem;
  
  display: flex;
  justify-content: center;
  color: white;
}
.calamares {
  max-width: 300px;
}
@media (min-width: 400px) {
  .calamares {
    width: 900px;
  }
}


.carousel-h2 {
  text-align: center;
}
.corousel {
  padding-top: 300px;
}
/* Carta */
.carta {
  font-family: 'open sans';
  padding-top: 200px;
  text-align: center;
  
  font-weight: 300;
  color: black;
  
}

.carta-fotos{
  width: 60%;
  margin: auto;
  
}
@media (max-width: 768px) {
  .carta-fotos {
    width: 100%;
    margin-bottom: 1rem;
    padding-top: 3rem;
  }
 .carta{
   padding-top: 4em;
 } 
  /* FIN CARTA */
  
.contenedor-inicio {
  width: 100%;
  height: auto;
  
}
.textosfondo{
  position: relative;
}
.backgroundescritorio{
  width: 100%;
  height: 1500px;
  margin: 0 auto;
  background-image: url(../img/portadaMercadoMovil.png);
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
  padding-top: 14rem;
  z-index: -1;
}
}
@media(max-width:768px){ 
  .logotipomercado{
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
  }
  }

  .titulos-cabecera{
    padding-bottom: 60px;
  }  

@media(min-width:768px){
  .containerlogomovil img{
    display: none;
     
   }
}

@media(max-width:768px){
  .containerlogomovil{
    display:block; 
    background-color: $color-principal;
     padding-top: 20px;
     padding-bottom: 20px;
     text-align: center;
  }
}

.redessociales__subtitulo{
  
  font-size: 1.5rem;
  
  padding: 1rem;
  text-align: center;
  color: white;
  display: block;
}
.mapa h2{
  color: white;
}




/* Galeria */
.galeri{
  font-family: 'open sans';
}

.galeri h1{
  text-align: center;
  margin:20px 0 15px 0;
  font-weight: 300;
  color: black;
}

.linea{
  
  border-top: 5px solid $color-rojo;
  margin: auto;
  margin-bottom: 40px;
  text-align: center;

}

.contenedor-imagene{
  display:flex;
  width: 85%;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius:3px;
}

.contenedor-imagene .image{
  width: 32%;
  position: relative;
  height:auto;
  margin-bottom:5px;
  box-shadow: 1px 5px 9px black;
  margin-top: 1rem;
  border-radius: 10px;
}
.image img{
  width: 100%;
  height:100%;
  object-fit: cover;
  
}
/* MIXINS */
@mixin card{
  width:200px;
  height: 500px;
  background-color:$color-rojo;
  color: white;
  width:55%;
  border-radius: 10px;
  box-shadow: 1px 5px 9px black;
}
.card-1{
  @include card;
}
.card-2{
  @include card;
}
.card-3{
  @include card;
}
/* EXTEND */
.card-4{
  @extend .card-1;
}


.overlay h2{
  color: #fff;
  font-weight: 300;
  font-size:30px;
  position: absolute;
  top: 50%;
  left:50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.image:hover {
  -webkit-transform: rotate(360deg);transform: rotate(360deg);
  cursor: pointer;
}
.galeri{
  padding-top: 190px;
}
@media screen and (max-width:1000px){
  .contenedor-imagene{
      width: 95%;
  }
}

@media screen and (max-width:700px){
  .contenedor-imagene{
      width: 90%;
  }
  .contenedor-imagene .image{
      width: 48%;
  }
}

@media screen and (max-width:450px){
  h1{
      font-size:22px;
  }
  .contenedor-imagene{
      width: 98%;
  }
  .contenedor-imagene .image{
      width: 80%;
  }
  .galeri{
    padding-top: 120px;
  }
  /* fin galeria */
  @mixin card {
    
    width: 90%;
  }
  .card-1 {
    @include card;
  }
  .card-2 {
    @include card;
  }
  .card-3 {
    @include card;
  }
  .card-4 {
    @include card;
  }
}
@mixin carta {
width:90%;
margin: 20px auto;
border-radius: 10px;
box-shadow: 1px 5px 9px black;

  
}
.carta-1{
  @include carta;
}
.carta-2{
  @include carta;
}
.carta-3{
  @include carta;
}
.carta-4{
  @include carta;
}
@mixin column {
text-align: center;
margin: auto;

  
}
.column-1{
  @include column;
}
.column-2{
  @include column;
}
.column-3{
  @include column;
}
.column-4{
  @include column;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');


.title {
  text-align: center;
  font-size: 40px;
  color: #6a6a6a;
  margin-top: 100px;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
}

.containero {
  width: 100%;
  background-color: $color-principal;
  max-width: 1200px;
  height: 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  box-pack: center;
  flex-pack: center;
  justify-content: center;
  margin: auto;
  border-radius: 8px;
  position: relative;
  box-shadow: 1px 5px 9px black;
  
}

.containero .card {
  width: 330px;
  height: 430px;
  background-color: crimson;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
  transition: all 0.25s;
}
@media screen and (max-width:668px){
  .containero{
    width: 100%;
    height: auto;
    padding: 0px;
    margin: auto;
    background-color: white;
    border-radius: 0px;
    position: relative;
    box-shadow: 0px 0px 0px;

    
  }
  .galeri{
    padding-top: 10em;
  }
}
.containero .card:hover {
  transform: translateY(-15px);
  transform: translateY(-15px);
  box-shadow: 0 12px 16px #ebd800;
  box-shadow: 0 12px 16px #ebd800;
}

.containero .card img {
  width: 330px;
  height: 220px;
}

.containero .card h4 {
  padding-top: 20px;
  font-weight: 600;
  color: $color-principal;
}

.containero .card p {
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
  color: white;
}

.containero .card a {
  font-weight: 500;
  text-decoration: none;
  color:  #ebd800;
}
.iconosredes:hover{
  transform: translateY(-5px);
  transform: translateY(-5px);
  
  
}
strong{
  color: #ebd800;
}
.containers{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  
}
.imagen_footer{
  width: 20%;
  text-align: center;
  margin: auto;
  display: flex;
  padding-bottom: 2em;
}
@media (max-width:668px){
  .imagen_footer{
    width: 70%;
    padding-bottom: 2em;
  }
}