*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: sans-serif;
    
}
header{
    width: 100%;
    background: crimson;
    position: fixed;  
}
#btn-menu{
    display: none; 
    
}
header label{
    display: none;
    height: auto;
    padding-left: 20px;
    
    
}
header label:hover{
    cursor: pointer;
    
}
ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}
.menu li{
    border-right: 1px solid white;
}
.menu li:hover{
    background: #232323;
     
 }
.menu li a{
    display: block;
    padding: 15px 20px;
    color:#fff;
    text-decoration: none;
}
.cabecera{
    width: 100%;
    height: auto;
    background-color: #232323;
    display: flex;
    justify-content: center;
    text-align: center;
    
}
.cabecera img{
    width: 20%;
    height: auto;
    min-width: 200px;  
}

@media (max-width:768px){
    header label{
        display:block;
    }
    
    

    .menu{
        position: absolute;
        background: crimson;
        width: 70%;
        margin-left: -70%;
        transition: all .5s;
    }
    .menu ul{
        flex-direction: column;  
    }
    .menu li{
        border-top: 1px solid white; 
        border-right: none;
    }
    #btn-menu:checked ~ .menu{
        margin: 0;

    }
}

.contenedor-carta{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.imagenes{
    
    width: 100vw;
    max-width: 900px;
    
}
/* footer */
footer{
    background: #232323;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
    
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid rgba(249, 4, 4, 0.7);
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 16px;
    margin: 20px 0 0 0;
    color: #ffffff;
}
@media (max-width:768px){
    .contenedor-footer{
        display: flex;
        flex-direction: column;
    }
}
.contenedor-nosotros-main{
    padding-top: 6em;

}
.contenedor-nosotros-main h1{
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    color: crimson;
}
.contenedor-nosotros{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2em;
}
.contenedor-nosotros img{
    
    width: 60%;
    max-width: 600px;
    border: 1px solid white;
    border-radius: 1.5em;
    box-shadow: 1px 2px 8px;
    
}

.contenedor-nosotros p{
    width: 80%;
    max-width: 600px;
    text-align: center;
    padding: 1em;
    line-height: 20px;
    color: black;
    
}


@media (min-width: 768px){
    .contenedor-nosotros{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }
    .contenedor-nosotros p{
       padding: 3em; 
    }
    .contenedor-nosotros img{
        margin-left: 6em;
        
    }
}
.contenedor-galeria img{
    width: 100%;
    height: ;
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 1.5em;
    box-shadow: 1px 2px 8px;
    margin-bottom: 1em;
      
}
.contenedor-galeria-main{
    padding-top: 6em;
    
}
.contenedor-galeria-main h1{
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    color: crimson;
}
.contenedor-galeria{
    
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: em;
}
.contenedor-galeria h1{
    padding-top: 3.5em;
    padding-bottom: 1em;
    margin: 0 auto;
    color: crimson;
}
.contenedor-inicio{
    width: 100%;
    height: 800px;
    margin: 0 auto;
    background-image: url(/img/mercado.png);
    background-size: cover;
    background-repeat: no-repeat;
    
     
}
@media (min-width:768px){
    .contenedor-inicio{
        padding-top: 25em;
        
    }
    
}
@media (max-width:768px){
    .contenedor-inicio{
        padding-top: 15em; 
    }
    
    
}

.contenedor-inicio h1{
    color: crimson;
    font-size: 3em;
    text-align: center;
    padding: .5em;
}
.contenedor-inicio h2{
    color: white;
    text-align: center;
}
.contenedor-carta-main{
    padding-top: 6em;

    
    
}
@media (max-width:768px){

    .contenedor-inicio h1{
        color: crimson;
        font-size: 1.7em;
        text-align: center;
        padding: .5em;
        z-index: -1;
    }
    .contenedor-inicio h2{
        color: rgb(255, 255, 255);
        font-size: 1em;
        text-align: center;
        padding: .5em;
        z-index: -1;
    }       
 }
.contenedor-carta-main h1{
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    color: crimson;
        
}
.contenedor-formulario-main{
    padding-top: 6em;
}
.contenedor-formulario-main h1{
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    color: crimson;
        
}
.contenedor-formulario{
    padding-bottom: 2em;
}
.contenedor-formulario form{
    padding: 2em;
}
.contenedor-formulario h2{
    
    padding-bottom: 1em;
    color: crimson;
    
}
form  input {
    padding-right: 20px;
    margin-top: 10px;
    margin-right: 10px;
    color:crimson;
    
}
.botones input {
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    margin-top: 10px;
    margin-right: 10px;
    color:crimson;
    
}
@media(min-width:768px){
    .contenedor-formulario{
        width: 60%;
     margin: 0 auto ;
     text-align: center;
        
    }
    form{
        text-align: left;
        margin-left: 6em;

    }
    
    .contenedor-formulario-main{
        padding-top: 10em;
    }
    .contenedor-nosotros-main{
        padding-top: 10em;
    }
    .contenedor-galeria-main{
        padding-top: 10em;
    }
    .contenedor-carta-main{
        padding-top: 10em;
    }
}